body {
  background-color: #000000;
  color: #ffffff;
  padding-top: 1em;
}
a {
  color: #5555ff;
}

h2 {
  margin-top: 2em;
  border-bottom: 1px solid white;
  font-size: inherit;
  font-weight: bold;
}
