<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zachklipp.captivate"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application
        android:name="Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".service.WifiStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.PortalStateChangedReceiver">
            <intent-filter>
                <action android:name="com.zachklipp.captivate.ACTION_PORTAL_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="AboutActivity" android:label="@string/about_title"></activity>
        <service android:name=".service.PortalDetectorService">
        </service>
    </application>

</manifest>