<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zachklipp.captivate"
    android:versionCode="3"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.zachklipp.captivate.permission.ACCESS_PORTAL_STATE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <permission
        android:name="com.zachklipp.captivate.permission.ACCESS_PORTAL_STATE" 
        android:label="@string/portal_state_perm_label" 
        android:description="@string/portal_state_perm_desc"
        android:permissionGroup="android.permission-group.NETWORK" 
        android:protectionLevel="normal" />

    <application
        android:name="Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".service.WifiStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="AboutActivity"
            android:label="@string/about_title"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.Sherlock"></activity>
        <activity
            android:name="PortalSigninActivity"
            android:label="@string/portal_signin"
            android:theme="@style/Theme.PortalSignin"
            android:configChanges="orientation|screenSize|keyboardHidden" ></activity>
        <service android:name=".service.PortalDetectorService">
        </service>
    </application>

</manifest>